
@{
    Layout = null;
}

﻿


<!DOCTYPE html>
<html lang="en">

@Html.Action("PartialHead", "HomeLayout")

<body>

    @Html.Action("PartialSpinner", "HomeLayout")


    @Html.Action("PartialNavbar", "HomeLayout")

    @RenderBody()

    @Html.Action("PartialFooter", "HomeLayout")


    @Html.Action("PartialScript", "HomeLayout")

</body>

</html>

